html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family:'Cera Pro Regular';
  src: url(../CeraPro/CeraPro-Regular.eot) format(eot),
  url(../CeraPro/CeraPro-Regular.ttf) format(Truetype),
  url(../CeraPro/CeraPro-Regular.woff)format(woff);
  font-weight: 400;
}

@font-face {
  font-family:'Cera Pro Medium';
  src: url(../CeraPro/CeraPro-Medium.eot) format(eot),
  url(../CeraPro/CeraPro-Medium.ttf) format(Truetype),
  url(../CeraPro/CeraPro-Medium.woff)format(woff);
  font-weight: 500;
}

@font-face {
  font-family:'Cera Pro Bold';
  src: url(../CeraPro/CeraPro-Bold.eot) format(eot),
  url(../CeraPro/CeraPro-Bold.ttf) format(Truetype),
  url(../CeraPro/CeraPro-Bold.woff)format(woff);
  font-weight: 700;
}

@font-face {
  font-family:'Cera Pro Black';
  src: url(../CeraPro/CeraPro-Black.eot) format(eot),
  url(../CeraPro/CeraPro-Black.ttf) format(Truetype),
  url(../CeraPro/CeraPro-Black.woff)format(woff);
  font-weight: 900;
}

header{
  padding: 30px 120px;
}

.header{
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}
.logo{
  display: flex;
  align-items: start;
}

.list{
  list-style-type: none;
  text-align: center;
}

.list-item-active{
  display: inline-block;
  padding: 8px 25px 25px; 
  border-bottom: 3px solid #46A358;
  color: #3D3D3D;
  font-family: "Cera Pro Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.list-item{
  display: inline-block;
  padding: 8px 25px 25px;
  color: #3D3D3D;
  font-family: "Cera Pro Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Login{
  color: #fff;
  background-color: #46A358;
  border-radius: 6px;
  padding: 8px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  font-family: "Cera Pro Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}



main{
  padding: 0px 120px 50px 120px;
  
}
.main{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

.above-the-title{
  display: inline-block;
  padding: 68px 0px 0px 43px;
  color: #3D3D3D;
  font-family: "Cera Pro Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase; 
}

.main-text{
  display: inline-block;
  padding: 0px 122px 0px 40px;
  color: #3D3D3D;
  font-family: "Cera Pro Black";
  font-size: 70px;
  font-style: normal;
   font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
} 

.Planet{
  color: #46A358;
  font-family: "Cera Pro Black";
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}

.under-the-text{
  display: inline-block;
  padding: 5px 160px 44px 43px;
  color: #727272;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.shop-button{
  display: block;
  padding: 11px 27px 9px 26px;
  margin-left: 41px;
  color: #FFF;
  font-family: "Cera Pro Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  background: #46A358;
  border: none; 
}

