html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Cera Pro";
  src: url(./font/CeraPro-Regular.woff2) format(woff2),
 url(./font/CeraPro-Bold.woff2) format(woff2);
}

body{
  font-family: "Cera Pro";
}

.button-login{
  color: #3d3d3d;
  font-size: 20px;
  font-style: normal;
  font-family: "Cera Pro";
}

.button-reg{
  color:#46A358;
  font-size: 20px;
  font-style: normal;
  font-family: "Cera Pro";
}

.navigation-before-registration{
  color: #3D3D3D;
  font-family: "Cera Pro";
  font-size: 13px;
  font-style: normal;
}

.input-register{
color: #A5A5A5;
font-family: "Cera Pro";
font-size: 14px;
font-style: normal;
background-color: #fff;
}

.button-registration{
 border-radius: 5px;
 background: #46A358;
 color: #FFF;
 font-family: "Cera Pro";
 font-size: 16px;
 font-style: normal;
}

.registration-navigator-through-google{
 color: #3d3d3d;
 font-family: "Cera Pro";
 font-size: 13px;
 font-style: normal;
}

.button-registration-google{
  color: #727272;
  font-family: "Cera Pro";
  font-size: 13px;
  font-style: normal;
}

.button-registration-facebook{
  color: #727272;
  font-family: "Cera Pro";
  font-size: 13px;
  font-style: normal;
}